*{
    margin: 0;
    padding: 0;
}
/*
头部信息

*/
.header{
    height: 80px;
    width: 100%;
}
.header .logo{
    float: left;
    background: url("../images/logo.png") no-repeat 100px 0;
    height: 100%;
    width:40% ;
}
.header img{
    float: right;
    width: 60%;
    height: 80px;
}
/*
头部底下的信息
*/
.box{
    background: #3b8de3;
    height: 40px;
    line-height: 40px;

}
.con{
    width: 90%;
    height: 50px;
    margin: auto;
    width: 95%;
}
.left{
    width: 60%;
    float: left;
}

.left a{
    float: left;
    text-decoration: none;
    color: #ffffff;
    height: 38px;
    width: 20%;
    text-align: center;

}
.left .active{
    border-top: 3px solid darkorange;
    background: white;
    color: #3b8de3;
}
.left a:hover{
    background: white;
    color: #3b8de3;
    border-top: 2px darkorange solid;
    height: 38px;
}

.right{
    width: 35%;
    float: right;
    background:#0185e1;
}
.right a{
    float: left;
    text-decoration: none;
    color: #ffffff;
    height: 100%;
    width: 33.3%;
    text-align: center;
}
.right a:hover{
    background: blue;
}
.right .login{
    height: 20px;
    background: url("../images/img.png") no-repeat  -315px -505px ;
    float: left;
    line-height: 20px;
}
/*三角形*/
.right .sanjiao {
    height: 0;
    width: 0;
    border-top: 10px solid white;
    border-left:  5px #0185e1 solid;
    border-right: 5px #0185e1 solid;
    float: right;
    margin-top: 10px;

}
.right .sanjiao:hover {
    height: 0;
    width: 0;
    border-bottom: 10px solid white;
    border-left:  5px blue solid;
    border-right: 5px blue solid;
    float: right;
    margin-top: 10px;

}
/*热门城市*/
.hot{
    height: 20px;
    line-height: 20px;
    width: 90%;
    float: right;
    margin: auto;
}
.hot span{
    color: black;
    margin-left: 10px;
}
.hot a{
    text-decoration: none;
    color: #0185e1;
    margin-right: 10px;
}
/*轮播图：
    父类定位相对；子类两种图片 absouble 两个按钮
*/
.banners{
    height:380px ;
    width:100% ;
    float: left;
    position: relative;
}
.banners .banner1{
    background: url("../images/dingpiao.png") no-repeat -200px 0 ;
    height: 380px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
}
.banners .banner2{
    background: url("../images/saoma.png") no-repeat -200px 0;
    position: absolute;
    height: 380px;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 2;
}
.banners .gan1{
    height: 10px ;
    width: 60px;
    background:orange;
    position: absolute;
    right: 30%;
    bottom: 10%;
    z-index: 3;
}
.banners .gan2{
    height: 10px ;
    width: 60px;
    background:black;
    position: absolute;
    right: 20%;
    bottom: 10%;
    z-index: 3;
}
/*热门航线预定*/
.hangxian{
    position: relative;
    width: 100%;
    height: 40px;
    line-height: 40px;
    color:gray;
    float: left;
}
.hangxian h2{
    float: left;
    margin-right: 10%;
    margin-left: 20px;
}
.hangxian span{
    color: gray;
    float: left;
    height: 100%;
    width: 7%;
    text-align: center;
}
.hangxian span:hover{
    background: lightskyblue;
    color: #0185e1;
    border-bottom: blue solid 1px;
}
.hangxian hr{
    width: 100%;
    float: left;
}
/*票价的显示*/
.out{
    height: 350px;
    width: 100%;
    position: relative;
    float: left;
}
.show{
    height: 350px;
    background: lightskyblue;
    width: 100%;
    float: left;
    margin-top: 10px;
    position: absolute;
    left: 0;
    top: 0;
}
.show a{
    text-decoration: none;
    text-align: center;
    color: #0185e1;
}

.show a:hover{
    color: gray;
}

.show .piao{
    float: left;
    height: 35%;
    width: 15%;
    border: dashed 1px darkgray;
    padding: 10px;
    margin: 1%;
}
.show span{
    font-size: 24px;
    color: orange;
}
#quanguo{
    z-index: 10;
}
#shenzhen{
    z-index: 9;
}
#beijing{
    z-index: 8;
}
#shanghai{
    z-index: 7;
}
#guangzhou{
    z-index: 6;
}
#wuhan {
    z-index: 5;
}
#chengdu{
    z-index: 4;
}
#haikou{
    z-index: 3;
}
#chongqing{
    z-index: 2;
}
#shenyang{
    z-index: 1;
}

